src/main/mule/adiam-and-shewit-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="286ce477-3908-4e8f-8289-70c0bacd1c5e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="adiam-and-shewit-projectFlow" doc:id="5522f4cb-fdce-49b6-b35d-e2094e345495" >
		<http:listener doc:name="Listener" doc:id="9fce4855-fac0-4c7f-9c1a-c7d8afe65d01" config-ref="HTTP_Listener_config" path="/vars"/>
		<set-variable value="12000" doc:name="Set Variable" doc:id="88f0c19f-2950-4827-b424-1a1211c60ac8" variableName="empId"/>
		<set-payload value="#[vars.empId]" doc:name="Set Payload" doc:id="2887aec9-9868-4965-8782-03bc82d076cb" />
		<logger level="INFO" doc:name="Logger" doc:id="1581f13b-bad3-4e06-8a98-2d44554e317a" message="set variable and set payload configured"/>
	</flow>
</mule>
